 body {
      background-color: #c2d0d0;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    }
    .hover-underline:hover {
      text-decoration: underline;
      color: #2563eb;
    }
    header {
      position: sticky;
      top: 0;
      z-index: 50;
    }
    section {
      scroll-margin-top: 80px;
    }
     .hover-underline:hover {
      text-decoration: underline;
    }

    input:focus,
    textarea:focus {
      outline: none;
      box-shadow: 0 0 0 2px #3b82f6;
    }
    button {
      transition: background-color 0.10s ease;
    }
    @media (max-width: 768px) {
      form {
        padding: 0 1rem;
      }
    }
    html {
  scroll-behavior: smooth;
} 
.code-animation::before,
.code-animation::after {
  content: "</>";
  position: absolute;
  font-size: 2rem;
  font-family: monospace;
  color: rgba(0, 255, 100, 0.1);
  animation: float 15s linear infinite;
  user-select: none;
}

.code-animation::after {
  content: "{}";
  top: 60%;
  left: 30%;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.05);
  animation-duration: 18s;
}
marquee{
  background-color: cadetblue;
  color: white;
}
.marquee:.hover{
  color: green;
}